APScheduler==3.6.3
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
cssutils==1.0.2
dnspython==2.0.0
email-validator==1.1.2
emails==0.6
fastapi==0.61.2
h11==0.11.0
idna==2.10
loguru==0.5.3
lxml==4.6.1
premailer==3.7.0
pydantic==1.7.2
pymongo==3.11.1
python-dateutil==2.8.1
pytz==2020.4
redis==3.5.3
requests==2.25.0
rq==1.6.1
six==1.15.0
starlette==0.13.6
tzlocal==2.1
urllib3==1.26.2
uvicorn==0.12.3
Werkzeug==1.0.1
